body{
  font-family: 'Outfit', sans-serif;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(217, 54%, 11%);
}

h5{
  font-weight: 600;
  margin-left: 0;
  padding-bottom: 5px;
  color: hsl(0, 0%, 100%);
}

h5:hover {
  color: hsl(178, 100%, 50%);
}


p {
  font-size: 15px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

span {
  font-size: 12px;
}


.my-name {
  color: hsl(0, 0%, 100%);
}

.my-name:hover {
  color: hsl(178, 100%, 50%);
}



hr {
  color: hsl(215, 32%, 27%);
  margin: 0 0 1rem;
}

.card {
  width: 18rem;
  padding: 15px;
  border-radius: 4%;
  background-color: hsl(216, 50%, 16%);
}

.card-body {
  padding-left: 0;
}

/* top card image */

.card-img-top {
  border-radius: 3%;
}

.card-img-overlay {
    visibility:hidden;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-img-overlay:hover {
    visibility: visible;
    color: cyan;
}

.eth {
  color: Cyan;
  padding-right: 60px;
  padding-left: 5px;
}


.timer {
  color: hsl(215, 51%, 70%);
  padding-left: 5px;
}

/* footer */
.text-muted{
  text-align: right;
}
.footer-image {
  width: 35px;
  padding: 1px;
  background-color: hsl(0, 0%, 100%);
  text-align: left;
  margin-right: 20px;
  border-radius: 100%
}

.card-bottom {
  padding-left: 0;
}

.creation-of {
  color: hsl(215, 51%, 70%);
  padding-right: 5px;
}
